@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
    --primary: rgb(197, 155, 236);
    --secondary: #4e4e4e;
    --error: #ff4a4a;
  }

* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    max-width: 960px;
    margin: 0 auto;
  }

  body{
    font-family: "Noto Serif";
    color: var(--secondary);
  }
