.about-me {
    position: static;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    



}

.about-me-content {
    display: flex;
  
    align-items: center;
    width: 100%;
}

.about-me-content .about-me-picture {
height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-me-content .about-me-text {
    width: 50%;
    display: flex;
    justify-content: center;
}