.about-me-container {
    display: flex;
  
    position: relative;
    align-items: center;
    width: 100%;
}

.about-me-container .about-me-picture {
 z-index: -100;
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-me-container .about-me-text {
    width: 50%;
    display: flex;
    justify-content: center;
}