footer {
    
        font-size: 0.7rem;
        position: fixed;
        bottom: 0.4rem;
        right: 1rem;
        text-align: right;
        padding: 1rem;
        color: rgb(128, 21, 128);
     
  }