.contact{
    position: static;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 25%;
}

.contact .content p{
    font-weight: 300;
   
}

.supportcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 30px;
}

.supportcontainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;


}
.supportcontainer .contactInfo .box{
 position: relative;
 padding: 20px 0;
 display: flex;


}



.supportcontainer .contactInfo .box .icon-box{
    min-width: 60px;
    height: 60px;
    background-color: #00bcd4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.supportcontainer .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    /* color: #fff; */
    flex-direction: column;
    font-weight: 300;
}




.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
   
  
}


.supportcontainer .contactInfo .contact-title {
display: flex;
flex-direction: column;
padding: 20px;
max-width:85%;


}

.supportcontainer .contactInfo .contact-title h1 {
   margin: 10px;
 color:  rgb(197, 155, 236);
   position: relative;
   font-size: 30px;
  bottom: 30px;
}






.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    
color: #ffffff;
font-size: 12px;
transform: translateY(-25px);
}

.contactForm .inputBox input[type='submit']{
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(197, 155, 236);
   
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}













.supportcontainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}








.contactForm{
    width: 40%;
    padding: 40px;
    background: rgb(180, 126, 230);
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.contactForm h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
}


.contactForm .inputBox .submitbutton{
   cursor: none;
}


.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    background-color: rgb(210, 210, 216);
    /* border: 2px solid #333; */
    outline: none;
    resize: none;
    background-color: rgb(197, 155, 236)
}

.contactForm .inputBox input
{ 
    background-color: rgb(197, 155, 236);
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
/* border-bottom: 2px solid #333; */
outline: none;
resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
font-size: 16px;
margin: 10px 5px;
pointer-events: none;
transition: 0.5s;
color: rgb(228, 218, 218);
}





.contactForm .inputBox input[type='submit']:hover{
background-color:rgb(220, 214, 221);
}

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .supportcontainer{
flex-direction: column;
    }
    .supportcontainer .contactInfo{
        margin-bottom: 40px;
    }
    .supportcontainer .contactInfo, .contactForm{
        width: 100%;
    }
}
