.navbar {
  display: flex;
  align-items: center;
 
   border: solid;
   border-color: red;
  /* position: fixed; */  
  /* address later since it conflicts with the pages   */
  width: 100%;
  left: 0;
  top: 0;

  
  /* background: violet; */
  box-sizing: border-box;

   
}

.navbar-items ul {
  display: flex;
  align-items: center;
  list-style: none;

}

.navbar-logo h1{
  margin: 0;
  font-size: 1.5rem;
  
}

.navbar-items {
    display: flex;
 align-items: center;
   
   
    
}
a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

