.navbar {
  height: 10vh;
  background:  rgb(197, 155, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}




.navbar-logo h1{
  margin: 0;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.nav-item a:hover {
 background: rgb(197, 155, 236);
}




